<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/stylesheet.css">
  
</head>
<body>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
      </head>
      
      <body>
        <header>
          <!-- Restaurant Logo -->
          <a href="#" class="logo">Zam Resto</a>
          <!-- Web Navigation -->
          <nav>
        <!--     <h3>AGE</h3>
            <h3><%=age%></h3>
          -->
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#menus">Menus</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
        </header>
        <!-- Hero Section -->
        <section class="home" id="home">
          <div class="home-title">
            <h1>Enjoy the taste</h1>
            <h2>What do you want to eat today ?.</h2>
            <a href="#" class="btn">Explore the menu</a>
          </div>
          <div class="home-image">
            <img src="hero-section-logo.png" alt="Hero Section Logo">
          </div>
        </section>
        <!-- About -->
        <section class="about" id="about">
          <div class="about-image">
            <img src="about-image.png" alt="About Us Image">
          </div>
          <div class="about-description">
            <span>About</span>
            <h2>We're here</h2>
            <p></p>
            <a href="#" class="btn">Learn more</a>
          </div>
        </section>
      

        <!-- Menus -->
        <section class="menus" id="menus">
          <div class="menu-heading">
            <span>Our menus</span>
            <h2>isiskshfeigb</h2>
            <ul class="filter">
              <li class="filter-btn active">
                <h3>All</h3>
              </li>
              <li class="filter-btn">
                <h3>Appetizer</h3>
              </li>
              <li class="filter-btn">
                <h3>Main Course</h3>
              </li>
              <li class="filter-btn">
                <h3>Dessert</h3>
              </li>
              <li class="filter-btn">
                <h3>Snack & Beverage</h3>
              </li>
            </ul>
          </div>
          <div class="menu-container">
            <div class="box">
              <img src="salad-yunani.png" alt="Salad Tomat">
              <h3>Greek Israel Caprese Salad</h3>
              <div class="star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="price">$15.00</div>
              <a href="#"><button class="box-btn">Order now</button></a>
            </div>
            <div class="box">
              <img src="california-sushi-sashimi.png" alt="California Sushi">
              <h3>California Roll Sushi Sashimi Gimbap Canapé</h3>
              <div class="star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="price">$15.00</div>
              <a href="#"><button class="box-btn">Order now</button></a>
            </div>
            <div class="box">
              <img src="hyderabadi-biryani-ayam.png" alt="Nasi Biryani">
              <h3>Hyderabadi Biryani Ayam</h3>
              <div class="star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="price">$15.00</div>
              <a href="#"><button class="box-btn">Order now</button></a>
            </div>
            <div class="box">
              <img src="rogan-josh-karahi-naan.png" alt="Ayam Karahi">
              <h3>Rogan Josh Karahi Naan</h3>
              <div class="star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="price">$15.00</div>
              <a href="#"><button class="box-btn">Order now</button></a>
            </div>
            <div class="box">
              <img src="gelato-fudge.png" alt="Ice Cream Gelato Fudge">
              <h3>Ice Cream Cafe Gelato Fudge</h3>
              <div class="star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="price">$15.00</div>
              <a href="#"><button class="box-btn">Order now</button></a>
            </div>
            <div class="box">
              <img src="tiramisu-cake.png" alt="Tiramisu Cake">
              <h3>Tiramisu Cake</h3>
              <div class="star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="price">$15.00</div>
              <a href="#"><button class="box-btn">Order now</button></a>
            </div>
          </div>
        </section>
        <!-- Services -->
        <section class="services" id="services">
          <div class="heading">
            <span>Services</span>
            <h2>We provide best quality food</h2>
          </div>
          <div class="services-container">
            <div class="services-box">
              <div class="order">
                <img src="order.png" alt="order">
                <h3>Order</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div class="services-box">
              <div class="shipping">
                <img src="shipping.png" alt="shipping">
                <h3>Shipping</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div class="services-box">
              <div class="delivery">
                <img src="delivery.png" alt="delivery">
                <h3>Delivery</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div>
        </section>
        <!-- Contact Us -->
        <section class="contact" id="contact">
          <div class="reservation">
            <div class="form-title">
              <h1><span><img src="art-1.png" alt=""></span>Make a Reservation<span><img src="art-1.png" alt=""></span></h1>
              <p>Book your table now and have a great meal!</p>
            </div>
            <div class="main-form">
              <form action="" method="">
                <div>
                  <span>Full name<span class="required">*</span></span>
                  <input type="text" name="name" id="name" placeholder="Write your name here..." required>
                </div>
                <div>
                  <span>Email<span class="required">*</span></span>
                  <input type="email" name="name" id="name" placeholder="Write your email here..." required>
                </div>
                <div>
                  <span>How many people ?<span class="required">*</span></span>
                  <select name="people" id="people" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div>
                  <span>Time<span class="required">*</span></span>
                  <input type="time" name="time" id="time" placeholder="time" required>
                </div>
                <div>
                  <span>Date<span class="required">*</span></span>
                  <input type="date" name="date" id="date" placeholder="date" required>
                </div>
                <div>
                  <span>Phone Number<span class="required">*</span></span>
                  <input type="number" name="number" id="number" placeholder="Write your number here..." required>
                </div>
                <div id="submit"><input type="submit" value="SUBMIT" id="number">
                </div>
              </form>
            </div>
          </div>
        </section>
        <footer>
          <section class="container">
            <div class="footer-left">
              <a href="#" class="title">Zam Resto</a>
              <p><strong>Zam Resto</strong> is a traditional Indonesian restaurant that provides a variety of dishes and snacks typical of the archipelago.</p>
            </div>
            <div class="footer-center">
              <i class="fa fa-phone"></i>
              <p>(024)-566-355</p>
              <div>
                <i class="fa fa-envelope"></i>
                <p>info@zamresto.com</p>
              </div>
              <div>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p><a href="#">Jl. Batursari, Tambak Dalam Raya, Semarang, Indonesia.</a></p>
              </div>
            </div>
      
            <div class="footer-right">
              <h4>NEWSLETTER</h4>
              <p>Subscribe now so you don't miss attractive promotions</p>
              <input type="email">
              <button type="submit">Subscribe</button>
      
              <ul class="social-media">
                <li><a href="#"><i class="fa fa-globe"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              </ul>
            </div>
            <hr>
          </section>
          <p class="copyright">Copyright &copy 2023 <strong>Zam Resto</strong> All rights reserved</p>
        </footer>
      </body>
</body>
</html>